@keyframes moveDots {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.loading-animation {
  display: flex;
}
.loading-dot {
  animation: moveDots 1s infinite;
  margin-right: 5px;
}
